@import url("important.css");

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* SECTION 1  */
section.section-1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
    padding: 60px 0 0px 0;
    background-color: var(--secondary-color);
}

div.left-section-1 {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
}

div.left-section-1>img {
    width: 350px;
}

div.right-section-1 {
    display: flex;
    width: 500px;
    margin-top: -30px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

p.title-section-1 {
    color: grey;
    font-size: 25px;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
}

p.subtitle-section-1 {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    font-family: 'BIZ UDPMincho', serif;
    margin-top: 10px;
    text-align: left;
    width: 70%;
}

p.text-section-1 {
    text-align: left;
    font-family: arial, sans-serif;
    line-height: 25px;
    margin: 20px 0;
    width: 56.5%;
}

button.learn-more,
button.read-more {
    padding: 10px 25px;
    font-size: 13px;
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: rgb(81, 81, 81) 2px solid;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 2px;
    cursor: pointer;
}
button.read-more-page2 {
    padding: 10px 25px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 2px;
    cursor: pointer;
    gap: 50px;
}

button.learn-more:hover,
button.read-more:hover {
    color: white;
    transition: 0.5s;
    border-color: var(--main-color);
    background-color: var(--main-color)
}
button.read-more-page2:hover {
    color: white;
    transition: 0.5s;
    border-color: var(--calendar-color-two);
    background-color: var(--main-color)
}

/* SECTION 1  */

/* SECTION 2  */
section.section-2 {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}
section.section-2a {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
}
section.section-2ab{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
}
section.section-2b {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
}
section.section-page2 {
    display: flex;
    height: 500px;
    background-color: white;
    justify-content: center;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
}

section.section-2>img {
    width: 700px;
    box-shadow: var(--main-color) 50px 50px 0px;
}
section.section-2a>img {
    width: 600px;
    box-shadow: var(--main-color) 50px 50px 0px;
}
section.section-2ab>img {
    width: 500px;
    border-radius: 200px;
    border-style: solid;
    border-color: var(--main-color);
}
section.section-2b>img {
    width: 600px;
    box-shadow: var(--main-color) 50px 50px 0px;
}

div.left-section-2 {
    display: flex;
    padding: 12px 30px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 380px;
    border: solid var(--main-color);
}
div.left-section-2a {
    display: flex;
    padding: 12px 30px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 380px;
    border: solid var(--main-color);
}
div.left-section-2ab {
    display: flex;
    padding: 12px 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 50%;
    width: 30%;
    margin-top: 40px;
    border-style: solid;
    border-color: var(--main-color);
}
div.left-section-2b {
    display: flex;
    padding: 12px 30px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    width: 380px;
    margin-bottom: 20px;
    border: solid var(--main-color);
}
div.left-section-page2 {
    display: flex;
    padding: 12px 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 380px;
}

p.title-section-2 {
    font-size: 27px;
    width: 90%;
    font-weight: bold;
    color: var(--main-color);
}
p.title-section-2a {
    font-size: 27px;
    width: 90%;
    font-weight: bold;
    color: var(--main-color);

}
p.title-section-2ab {
    font-size: 27px;
    width: 90%;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    justify-content: center;
}
p.title-section-2b {
    font-size: 27px;
    width: 90%;
    font-weight: bold;
    color: var(--main-color);

}
p.title-section-page2 {
    font-size: 50px;
    width: 90%;
    font-weight: bold;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

p.subtitle-section-2 {
    line-height: 22px;
    margin: 10px 0;
    font-size: 13px;
}
p.subtitle-section-2a {
    line-height: 22px;
    margin: 10px 0;
    font-size: 13px;
}
p.subtitle-section-2ab {
    line-height: 22px;
    margin: 10px 0;
    font-size: 13px;
}
p.subtitle-section-2b {
    line-height: 22px;
    margin: 10px 0;
    font-size: 13px;
}
p.subtitle-section-page2 {
    line-height: 22px;
    padding: 20px;
    font-size: 20px;
    width: max-content;
}
p.subtitle-section-page22 {
    line-height: 40px;
    padding: 20px;
    font-size: 30px;
    width: max-content;
    font-weight: bold;
}

button.read-more {
    font-size: 12px;
    padding: 8px 20px;
}
button.read-more-page2 {
    font-size: 30px;
    padding: 10px 20px;
    margin: 5px;
}
/* SECTION 2  */

/* SECTION 3  */
section.section-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 25%, rgba(219,219,219,1) 50%, rgba(227,227,227,1) 75%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

div.left-section-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    padding-top: 20px;
    min-width: 250px;
}

div.right-section-3 {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: flex-end;
    width: 70%;
}

div.left-section-3>* {
    margin-bottom: 10px;
}

p.title-section-3 {
    font-size: 22px;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

p.subtitle-section-3 {
    font-size: 30px;
    min-width: 250px;
    width: 43%;
    font-weight: bold;
}

p.text-section-3 {
    width: 60%;
    min-width: 250px;
    font-size: 20px;
    margin-bottom: 25px;
}

div.part-1-section-3,
div.part-2-section-3,
div.part-3-section-3 {
    display: flex;
    align-items: center;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
}


div.all-cards {
    display: flex;
    align-items: space-around;
    width: 100%;
    justify-content: center;
}

div.card-info {
    display: flex;
    padding-left: 20px;
    width: 75%;
    min-width: 200px;
    align-items: flex-start;
    box-shadow: 2px 2px 20px rgba(70, 70, 70, 0.404);
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
}
div.card-info-page2 {
    display: flex;
    width: 50%;
    min-width: 200px;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(70, 70, 70, 0.404);
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}

div.card-info>img {
    background-color: var(--main-color);
    width: 70px;
    margin-top: 20px;
    padding: 10px;
}
div.card-info-page2>img {
    background-color: var(--main-color);
    width: 200px;
    margin-top: 20px;
    padding: 10px;
}

div.card-info>* {
    margin-bottom: 20px;
}
div.card-info-page2>* {
    margin-bottom: 20px;
}

div.card-info>p.title-card-info {
    font-size: 18px;
    font-weight: bold;
}
div.card-info-page2>p.title-card-info {
    font-size: 18px;
    font-weight: bold;
}

div.card-info>p.description-card-info {
    font-size: 14px;
    color: grey;
    line-height: 22px;
    width: 80%;
}
div.card-info-page2>p.description-card-info {
    font-size: 14px;
    color: grey;
    line-height: 22px;
    width: 80%;
}

/* SECTION 3  */

/* SECTION 4  */

section.section-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

div.left-section-4 {
    display: flex;
    padding: 30px 0;
    align-items: center;
    width: 30%;
    min-width: 280px;
    justify-content: space-around;
    flex-direction: column;
}

div.left-section-4>img {
    width: 500px;
}

div.right-section-4 {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

p.title-section-4 {
    font-size: 72px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    width: inherit;
}

p.subtitle-section-4 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    width: inherit;
}

div.characteristics-section-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-width: 361px;
    margin-top: 60px;
}

div.part-1-section-4,
div.part-2-section-4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 250px;
    flex-direction: column;
}

div.car>i {
    margin-right: 10px;
    font-size: 16px;
    color: var(--main-color);
}

div.part-2-section-4>p {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}

div.car {
    font-size: 18px;
}

/* SECTION 4  */

/* SECTION 5  */

section.section-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 0%, rgb(255, 255, 255) 0%, rgb(185, 185, 185) 0%, rgb(153, 153, 153) 0%, rgb(219, 219, 219) 85%, rgb(255, 255, 255) 100%);
}

p.title-section-5 {
    font-size: 45px;
    font-weight: bold;
    color : var(--main-color);
    margin-bottom: 30px;
}

img.img-section-5 {
    width: 500px;
    margin-top: 25px;
}

p.text-section-5 {
    width: 40%;
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

section.section-5 button.learn-more {
    margin-top: 20px;
    font-size: 15px;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}
td.coach1{
    background-color: var(--calendar-color-one);
}
td.coach2{
    background-color: var(--calendar-color-two);
}
td.coach3{
    background-color: var(--calendar-color-three);
}
td.coach4{
    background-color: var(--calendar-color-four);
}
td.coach5{
    background-color: var(--calendar-color-five);
}


tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
/* SECTION 5  */

/* SECTION 6  */
section.section-6{
    display: flex;
    padding: 40px;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.left-section-6,div.right-section-6{
    width: 50%;
    min-width: 270px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.left-section-6{
    align-items: flex-start;
    padding: 100px 0;
    justify-content: center;
}
div.right-section-6{
    justify-content: space-between;
    height: 600px;
    padding: 0;
}
img.logo-guillemet{
    border-radius: 50%;
    width: 60px;
    margin-top: -50px;
    margin-bottom: 20px;
    background-color: var(--main-color);
    padding: 10px 4px;
}
p.text-guillemet{
    line-height: 40px;
    font-size: 20px;
    width: 100%;
}
div.right-section-6 > *:nth-child(1){
    margin: 0;
}
div.right-section-6 > *{
    margin: 20px 0;
}
div.right-section-6 img.waves{
    width: 100px;
    height: 30px;
}
div.right-section-6 img.bouncing-ball{
    width: 250px;
}
p.title-right-section-6{
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}
p.text-right-section-6{
    width: 50%;
    text-align: center;
}
/* SECTION 6  */

/* SECTION 7  */

section.section-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 15%, rgba(153,153,153,1) 100%, rgba(255,255,255,1) 100%);
    padding: 20px 0;
    width: 100%;
    flex-direction: column;
}
section.section-7 > *{
    margin-bottom: 20px;
    text-align: center;
}
p.title-shape-health{
    font-size: 45px;
    font-weight: bold;
}
p.subtitle-shape-health{
    font-size: 16px;
}
section.section-7 img.waves{
    width: 100px;
}
div.all-pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
div.all-pictures > img{
    width: 30%;
    min-width: 150px;
    margin: 10px;
}
/* SECTION 7  */

/* SECTION 8  */
section.section-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
}
p.title-rating{
    font-size: 40px;
    font-weight: bold;
}
div.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
div.slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
div.card-rating{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.slider > i{
    background-color: var(--main-color);
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
}
div.card-rating > img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
div.card-rating > p.text-opinion {
    width: 30%;
    line-height: 30px;
    text-align: center;
}
div.card-rating > p.name-client {
    text-align: center;
    margin: 15px 0 50px 0;
    font-size: 20px;
}
div.points-slider{
    display: flex;
    align-items: center;
    width: 26px;
    justify-content: space-around;
}
div.point-slider{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(196, 196, 196);
}
div.point-active{
    background-color: var(--main-color);
}
/* SECTION 8  */


.hidden{
    display: none;
}