* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-main);
}

:root {
    --main-color: #F9550C;
    --secondary-color: #DEDBE4;
    --calendar-color-one: #ff7d7d;
    --calendar-color-two: #3bff8d;
    --calendar-color-three: #57c1ff;
    --calendar-color-four: #fcff59;
    --calendar-color-five: #ff4bf6;
    --font-main: 'Arial', serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* BODY */

/* HEADER */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: var(--secondary-color);
    justify-content: space-between;
}

/* MENU */

header img {
    width: 70px;
    border-radius: 15px;
}


menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    flex-direction: column;
    background-color: transparent;
    transform: translateX(-100%);
    backdrop-filter: blur(5px);
    transition: all 0.7s;
    top: 0%;
    left: 0%;
    height: 565px;
    width: 100%;
    padding: 20px;
}

.popup-error {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0%;
    left: 41%;
    width: 350px;
    transition: all 0.8s;
    transform: translateY(-100%);
    font-size: 16px;
    background-color: var(--main-color);
    padding: 20px 10px;
}

a.logo-website {
    width: 200px;
}

menu>* {
    color: rgb(0, 0, 0);
}

menu.show {
    z-index: 50;
    transform: translateX(0%);
}

button.btn-login,
button.btn-signin {
    display: flex;
    transition: 0.8s;
    align-items: center;
    justify-content: space-around;
}

button.btn-signin i {
    transform: rotate(-180deg);
}

header div.form-login {
    position: absolute;
    top: 0%;
    height: 276px;
    transform: translateY(-100%);
    transition: all 0.5s;
    background-color: var(--secondary-color);
    padding: 20px 10px;
    right: 250px;
}

header i {
    font-size: 20px;
}

header button {
    width: 200px;
    padding: 8px 5px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: white;
    cursor: pointer;
}

div.btns-log-sign {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
}

header form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

div.signin {
    position: absolute;
    top: 0;
    right: 230px;
    transition: 0.5s;
    transform: translateY(-100%);
    background-color: var(--secondary-color);
    padding: 20px;
}

div.signin>form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.signin>form>* {
    margin: 10px;
}

header form>* {
    margin: 10px;
}

header div.form-login-active {
    transform: translateY(0%);
    box-shadow: 5px 2px 20px black;
}

div.form-signin-active {
    transform: translateY(0%);
    box-shadow: -5px 2px 20px black;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

a>i.fa-angle-double-up {
    color: white;
    font-size: 25px;
    transition: 0.5s;
    animation: movein 3s infinite;
}

@keyframes movein {
    25% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(30%);
    }

    75% {
        transform: translateY(-30%);
    }
}

div.footer-1 {
    width: 80%;
    display: flex;
    margin: 20px 0;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
}

p.title-form {
    font-size: 45px;
    font-weight: bold;
}

div.text-form {
    width: 50%;
    display: flex;
    min-width: 250px;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

div.text-form>p {
    width: 53%;
    color: rgb(128, 128, 128);
    font-size: 20px;
}

div.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

div.card-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.678);
    padding: 50px 30px;
    justify-content: space-around;
}

footer form {
    display: flex;
    align-items: center;
    width: 50%;
    min-width: 250px;
    justify-content: flex-start;
    flex-direction: column;
}

form>div.field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    flex-direction: column;
}

div.fields {
    display: flex;
    align-items: center;
    width: 85%;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

div.fields>div.field {
    display: flex;
    align-items: flex-start;
    min-width: 210px;
    width: 45%;
    justify-content: center;
    flex-direction: column;
}

form label {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

form input {
    padding: 8px;
    background-color: rgb(228, 228, 228);
    border: none;
}

div.field>input {
    width: 100%;
    margin-top: 5px;
}

div.fields input {
    width: 100%;
}

form button {
    width: 85%;
    margin-top: 20px;
    padding: 8px 5px;
    text-transform: uppercase;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: white;
}

div.footer-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
}

div.footer-2-top {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 200px;
    background-color: var(--main-color);
}

p.text-footer {
    color: white;
    padding: 20px 0;
    background-color: rgb(24, 24, 24);
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* FOOTER */